# OS metadata files
.DS_Store
Thumbs.db
desktop.ini

# Dependencies
node_modules/

# Editor / IDE folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vercel deployment cache
.vercel

# Sensitive files / keys
*recovery*
*.txt
*.env*
